.login_form{
    width:50%;
    margin: auto;
    margin-top:6%;
    border:1px solid black;
    padding:4%;
    box-shadow:5px 6px #888888;
}

.errors p{
    font-weight:light;
    font-size: 13px;
    display: none;
}

.show_submitted{
    width:50%;
    margin: auto;
    margin-top:6%;
    display:none;
}